<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TCG"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.strotmann.mail.SimpleSender"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="smtp.1und1.com  peter@strotmann.org p.strotmann@tc-graevingholz.de testMailAusJava wuffWuff m35273748-4 wuffwuff"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TCG"/>
</launchConfiguration>
